/* General */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
	margin-top: 0;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
}

p,
a,
li,
span {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.8;
}

hr {
	border-top: 2px solid #ccc;
}

/* Section */
.section {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-table {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

.section-td {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.section-header {
	margin-top: 30px;
	margin-bottom: 30px;
}

.section-header--centered {
	text-align: center;
}

.section-header--underlined {
	border-bottom: 2px solid #eee;
}

.section-banner {
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-banner--tinted:before {
	position: absolute;
	content: '';
	background-color: rgba(0,0,0,.4);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.section-banner__title,
.section-banner__subtitle,
.section-banner__meta {
	color: #fff;
}

.section-banner__meta a {
	font-size: 18px;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}

.section-banner--margin-bottom-40 {
	margin-bottom: 40px;
}

.section-header--highlight {
	color: #00D4F7;
}

/* Row */
.row-section {
	margin-top: 50px;
	margin-bottom: 50px;
}
.row-header {
	padding-bottom: 15px;
	margin-bottom: 30px;
}

.row-header--margin-top-30 {
	margin-top: 30px;
}

.row-header--underline-bot {
	border-bottom: 2px solid #ccc;
}

.row-footer {
	margin-top: 30px;
	padding-top: 30px;
}

.row-footer--underline-top {
	border-top: 2px solid #ccc;
}

/* Col */
.col-article--grid {
	margin-bottom: 50px;
}
.col-article-header a {
	color: inherit;
}

.col-article-header h3,
.col-article-header h4 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.col-article-header-highlight {
	font-size: 25px;
	color: #00D4F7;
	line-height: 35px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.col-article-header-thumbnail {
	overflow: hidden;
	position: relative;
}

.col-article-header-thumbnail:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	transition: background-color .3s ease-in-out;
}

.col-article-header-thumbnail img {
	transition: transform .3s ease-in-out;
}

.col-article-header a:hover .col-article-header-thumbnail:after {
	background-color: rgba(0,0,0,.2);
}

.col-article-header a:hover .col-article-header-thumbnail img {
	transform: scale(1.05);
}

.col-article-meta a {
	font-size: 18px;
	color: inherit;
	padding-left: 5px;
	padding-right: 5px;
}

/* Button */
.btn {
	border-radius: 0;
}

.button {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 10px 25px;
	letter-spacing: 1px;
}
.button--black {
	background-color: #000;
	color: #fff;
}

.button--white {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
}

/* List */
.list--social .list__item {
	display: inline-block;
}

.list--social .list__item a {
	display: block;
	padding: 6px 12px;
	font-size: 18px;
	color: #000;
}

/* Form */
.form-control {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #F4F4F4;
	border-color: #F4F4F4;
	height: 42px;
}

.form-control:focus {
	border-color: #F55FBA;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333;
}

.form-control:focus::-webkit-input-placeholder {
	color: #737373;
}

.form-newsletter .form-group {
	float: left;
	width: calc(100% - 135px);
}

.form-newsletter .form-control {
	background-color: #fff;
}

.form-newsletter .btn {
	float: left;
	width: 135px;
}

select{
	-webkit-appearance:none;
	background-color:#F4F4F4;
	background-image:url(../images/form/select-arrow.png);
	background-position: right 10px center;
	background-repeat: no-repeat;
	border:1px solid transparent;
	border-radius:0;
	height: 35px;
	outline:none;
	padding-left: 10px;
	transition: 0.3s;
	width:100%;
}

.form-group--inline:before,
.form-group--inline:after {
	content: '';
	display: table;
}

.form-group--inline:after {
	clear: both;
}

.form-group--inline input[type="email"] {
	border-color: #fff;
	height: 42px;
	width: calc(100% - 125px);
	float: left;
}

.form-group--inline button[type="submit"] {
	float: left;
	width: 125px;
}

.form--contact input[type="submit"]{
	border:0;
	margin:0;
}

.form--eshop label{
	display: block;
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
}

.form--eshop .checkbox {
	margin-bottom: 15px;
}

.form--eshop .checkbox input[type="checkbox"] {
	outline: none;
}

.form--eshop .checkbox label:before {
	width: 20px;
	height: 20px;
	border-color: #ebebeb;
	background-color: #ebebeb;
	border-radius: 0;
}

.form--eshop .checkbox label:after {
	width: 20px;
	height: 20px;
	font-size: 14px;
	background-color: #F55FBA;
	color: #fff;
	padding-top: 0;
}

.form--eshop .checkbox--black label:before {
	background-color: #000;
}

.form--eshop .checkbox--red label:before {
	background-color: #C61E1E;
}

.form--eshop .checkbox--blue label:before {
	background-color: #2E53B7;
}

.form--eshop .checkbox--green label:before {
	background-color: #38E245;
}

.form--eshop .checkbox--pink label:before {
	background-color: #F55FBA;
}

/* Header */
.header-top {
	background-color: #E6E6E6;
	font-size: 14px;
}

.header-top p,
.header-top a {
	margin-bottom: 0;
	font-size: 14px;
	color: inherit;
}

.header-top-contact,
.header-top-message {
	line-height: 34px;
}

.header-top-search input[type="search"],
.header-top-search button[type="submit"] {
	background-color: #EDEDED;
}

.header-top-search input[type="search"] {
	width: 200px;
	float: right;
	border-color: #EDEDED;
}

.header-top-search input[type="search"]::-webkit-input-placeholder {
	color: inherit;
}

.header-top-search button[type="submit"] {
	width: 40px;
	float: right;
}

.header-mid,
.header-mid p,
.header-mid a {
	font-size: 13px;
	color: inherit;
}

.header-mid {
	padding-top: 15px;
	padding-bottom: 15px;
}

.header-mid-currency,
.header-mid-options {
	line-height: 47px;
	white-space: nowrap;
	overflow: hidden;
}

.header-mid-logo {
	text-align: center;
}

.header-mid-options {
	text-align: right;
}

.header-mid-options ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
	display: inline-block;
}

.header-mid-options li {
	display: inline-block;
	margin-right: 15px;
}

.header-mid-options li:last-child {
	margin-right: 0;
}

.header-mid-options li > a {
	font-size: 13px;
	color: inherit;
	color: #585858;
}

/* Nav */
.nav-top {
	border-bottom: 1px solid #585858;
}

.nav-top {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.nav-top > li {
	display: inline-block;
}

.nav-top > li > a {
	text-transform: uppercase;
	padding: 6px 12px;
	display: block;
	color: #585858;
}

.nav-top li > a:hover,
.nav-top li > a:focus,
.nav-top li.active > a {
	background-color: #585858;
	text-decoration: none;
	color: #fff;
}

.nav-bottom {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.nav-bottom > li {
	display: inline-block;
}

.nav-bottom > li > a {
	text-transform: uppercase;
	padding: 10px 20px;
	display: block;
	color: #585858;
	font-size: 14px;
}

.nav-bottom > li > a:hover,
.nav-bottom > li > a:focus {
	color: #00D4F7;
	text-decoration: none;
}

.nav-breadcrumb {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
	padding-top: 6px;
	padding-bottom: 6px;
}

.nav-breadcrumb > li {
	display: inline-block;
}

.nav-breadcrumb > li,
.nav-breadcrumb > li > a {
	font-size: 14px;
	color: inherit;
}

.nav-breadcrumb > li.active a {
	font-weight: 700;
}

/* Slider */
.slider {
	position: relative;
	color: #fff;
}

.slide {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 600px;
	overflow: hidden;
}

.slide__img {
	object-fit: cover;
	object-position: 0 0;
	width: 100%;
}

.slide__title {
	font-size: 60px;
}

.slide__subtitle {

}

.slide__action {
	
}

.slide-table {
	width: 100%;
	height: 100%;
	display: table;
}

.slide-td {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.slide-prev,
.slide-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: #000;
	color: #fff;
	font-size: 40px;
	padding-left: 10px;
	padding-right: 10px;
	height: 70px;
	line-height: 70px;
}

.slide-prev {
	left: 0;
}

.slide-next {
	right: 0;
}

.slide-progbar {
	position: absolute;
	bottom: 0;
	width: 0%;
	height: 8px;
	background-color: #F55FBA;
}

.slider--single .slide {
	height: auto;
}

.slider--item-inner {
	padding-left: 30px;
	padding-right: 30px;
}

.slider--item-inner .slide {
	height: 300px;
	/*padding-left: 30px;
	padding-right: 30px;*/
}

.slider--item-inner .slide-next,
.slider--item-inner .slide-prev {
	width: 30px;
	line-height: 60px;
	height: 60px;
}

#slider-item-inner-nav .slide {
	height: auto;
	cursor: pointer;
}

#slider-item-inner-nav .slick-current,
#slider-item-inner-nav .slide:hover,
#slider-item-inner-nav .slide:focus {
	border: 2px solid #F4EC31;
}

/* E-shop Sort */
.eshop-sort{
	margin: 30px 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.eshop-sort * {
	font-size: 14px;
}

.eshop-sort--border-bottom {
	border-bottom:2px solid #eee;
}

.eshop-sort--border-top{
	border-top:2px solid #eee;	
}

.eshop-sort--margin-top-0 {
	margin-top: 0;
	padding-top: 0;
}

.eshop-sort select{
	position: relative;
	top: -6px;
}

.eshop-sort .col-sm-1,
.eshop-sort .col-sm-8{
	padding:0;
}

.eshop-sort p{
	font-family: "Playfair Display", sans-serif;
	margin-bottom: 3px;
}

.eshop-sort ul{
	display: inline-block;
	list-style: none;
	padding-left:0;
}

.eshop-sort ul li{
	display: inline-block;
}

.eshop-sort ul li a{
	color:#000;
}

.eshop-sort ul.eshop-sort__list>li{
	border-left:1px solid #000;
	padding:0 20px;
}


.eshop-sort ul.eshop-sort__list>li:first-child{
	border-left: 0;
}

.eshop-sort ul.eshop-sort__list>li:last-child{
	padding-right:0;
}

/* Items */
.items {
	position: relative;
}

.items .col-md-4:nth-child(3n + 1) {
	clear: both;
}

.item-body {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid transparent;
	padding: 15px;
}

.item-body a {
	color: inherit;
}

.item-footer {
	opacity: 0;
	visibility: hidden;
}

.item--centered {
	text-align: center;
}

.item__image {
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: 0 0;
}

.item__name {
	font-size: 20px;
	margin-top: 20px;
}

.item__price {
	display: block;
	font-size: 20px;
	text-transform: uppercase;
}

.item__price--highlighted {
	font-size: 20px;
	color: #00D4F7;
	font-weight: 700;
}

.item__price--striked {
	text-decoration: line-through;
	font-size: 16px;
}

.item__action {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.item:hover .item-body {
	border-color: #EBEBEB;
}

.item:hover .item-footer {
	opacity: 1;
	visibility: visible;
}

.items-prev,
.items-next {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #000;
	font-size: 40px;
}

.items-prev {
	left: 0;
	margin-left: -40px;
}

.items-next {
	right: 0;
	margin-right: -40px;
}

/* Item Inner */
.item-inner {
	position: relative;
}

.item-inner-backdrop-banner {
	position: absolute;
	width: 100%;
	height: 300px;
	/*background-color: red;*/
	background-image: url(../images/e-shop/interior/banner-bg.png);
	top: 0;
	left: 0;
	overflow: hidden;
}

.item-inner-backdrop-banner:before {
	content: '';
	position: absolute;
	background-color: rgba(0, 0, 0, .3);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.item-inner-content {
	background-color: #fff;
	padding: 30px;
	margin-top: 30px;
}

.item-inner-content-header {
	border-bottom: 2px solid #EBEBEB;
}

.item-inner-content-header__title {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.item-inner-content-header__subtitle {
	font-size: 30px;
	font-weight: 700;
}

.item-inner-content-header__price {
	font-size: 30px;
	text-transform: uppercase;
	line-height: 30px;
	float: left;
	margin-right: 20px;
}

.item-inner-content-header__price--highlight {
	color: #00D4F7;
	font-weight: 700;
}

.item-inner-content-header__price--strikedthrough {
	color: #585858;
	font-size: 16px;
	text-decoration: line-through;
}

.item-inner-content-header-share {
	text-align: right;
}

.item-inner-content-header-share * {
	font-size: 20px;
}

.item-inner-content-header-share span {
	margin-right: 20px;
}

.item-inner-content-header-share ul {
	display: inline-block;
	margin-bottom: 0;
}

.item-inner-content-header-share ul > li {
	padding-left: 10px;
	padding-right: 10px;
}

.item-inner-content-header-share ul > li > a {
	color: inherit;
}

.item-inner-content-body {
	padding-top: 40px;
}

.item-inner-content-body-size-button button {
	font-size: 14px;
	font-weight: 300;
	border: 1px solid #000;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 10px 20px;
}

.item-inner-content-body-size-button button.active {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #F55FBA;
	color: #F55FBA;
}

.item-inner-content-body-size-button button[disabled] {
	opacity: .25;
}

.item-inner-content-body-quantity-button-group button {
	background-color: transparent;
	border: 1px solid #000;
	padding: 10px 18px;
}

/* Boxes */
.box {
	height: 300px;
	overflow: hidden;
	position: relative;
	background-color: rgba(0,0,0,.2);
	transition: background-color .3s;
	padding-left: 100px;
	padding-right: 100px;
}

.box-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: transform .3s;
}

.box-table {
	display: table;
	width: 100%;
	height: 100%;
}

.box-td {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.box-body h4 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}

.box-body p {
	color: #fff;
}

.box-action {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.box--centered {
	text-align: center;
}

.box:hover {
	background-color: rgba(0,0,0,.5);
}

.box:hover .box-image {
	transform: scale(1.1);
}

/* Panel */
.panel-default {
    border-color: transparent;
    box-shadow: none;
}

.panel-heading{
	padding:10px 0;
}

.panel-title{
	font-size:20px;
	font-weight: bold;
}

.panel-collapse{
    padding: 15px 0;
}

.panel-collapse ul{
	padding-left:20px;
}

.panel-collapse ul li{
	line-height: 30px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #eee;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 0;
}

.panel-body {
	padding-left: 0;
	padding-right: 0;
}

/* Slick Feed Item */
.feed-items__item {
	height: 250px;
}

.feed-items__item img {
	width: 100%;
	object-fit: cover;
	object-position: 0 0;
}

.feed-items-prev,
.feed-items-next {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #000;
	color: #fff;
	font-size: 40px;
	padding-left: 10px;
	padding-right: 10px;
	height: 70px;
	line-height: 70px;
}

.feed-items-prev {
	left: 0;
}

.feed-items-next {
	right: 0;
}

.footer {
	background-color: #F3F3F3;
	padding-top: 50px;
}

.footer h4 {
	text-transform: uppercase;
	font-family: sans-serif;
}

.footer ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.footer ul > li {
	margin-bottom: 10px;
}

.footer ul > li > a {
	color: inherit;
}

.footer ul > li > a:hover,
.footer ul > li > a:focus {
	color: #F55FBA;
	text-decoration: none;
	transition: .3s ease-in-out;
}

.footer ul > li.highlight > a,
.footer ul > li.highlight {
	color: #F55FBA;
}

.footer-column--margin-top-30 {
	margin-top: 30px;
}

.footer-bottom {
	padding-bottom: 20px;
}

.footer-bottom-copyright,
.footer-bottom-payment {
	line-height: 35px;
}

.footer-bottom-copyright a {
	color: inherit;
}

.footer-bottom-payment {
	text-align: right;
}

.footer-bottom-payment ul {
	display: inline-block;
}

.footer-bottom-payment ul > li {
	display: inline-block;
	margin-bottom: 0
}

/* Helpers */
.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-0 {
	margin-bottom: 0;
}